{% polymer element "hello-world" attributes="names" %}
    <template>
        <ul>
            <template repeat="{{name in names}}">
                <li>{{ name }}</li>
            </template>
            <twig>
                {% for name in ["foo", "bar"] %}
                    {{ name }}
                {% endfor %}
            </twig>
        </ul>
    </template>
    <script>
        Polymer('hello-world', {
            names: ["Sean", "Josh", "Rob"]
        });
    </script>
{% endpolymer %}