<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Polymer Project bundle for the Symfony2 framework.">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="./Tests/Fixtures/App/" />
    </php>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
